<%- include("partials/header") %> 

<!-- <h1>Sign up Page</h1> -->

<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center;">Sign up to YelpCamp!</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="Username">User name</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="textlHelp" placeholder="camp123">
                    <!-- <small id="textlHelp" class="form-text text-muted">Important to be looked for!</small> -->
                </div>
                <div class="form-group">
                    <label for="E-mail">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="you@me.com">
                </div>
                <div class="form-group">
                    <label for="Description">Password</label>
                    <input type="password" name="password" class="form-control" id="description">
                </div>
                <button class="btn btn-block btn-primary">Submit</button>
            </form>
            <!-- <a href="/campgrounds">Back</a> -->
        </div>
    </div>
</div>

<%- include("partials/footer") %> 
